<h1>Backgammon</h1>
<h2> <%= @game_player.game.title %> </h2>
<p><%= @game_player.game.deck.cards.count %> Cards in the Deck</p>
<br>
<p>Dealer</p>
<ul class="cards">
  <% @game_player.game.dealer.hand.each_with_index do |card, index| %>
    <% if index == 0 %>
      <li class="card">Face Down</li>
    <% else %>
      <li class="card"><%= card.rank %> of <%= card.suit %></li>
    <% end %>
  <% end %>
</ul>
<br>
<p>Player: <%= @game_player.player.name %></p>
<%= form_with url: hit_game_path(@game_player), method: :post do %>
  <button type="submit">Hit</button>
<% end %>
<%= form_with url: stand_game_path(@game_player), method: :post do %>
  <button type="submit">Stand</button>
<% end %>
<% if @game_player.bet.to_i == 0 %>
  <%= form_with url: ante_game_path(@game_player), method: :post do %>
    <label for="ante">Ante:</label>
    <%= number_field_tag :ante, nil, id: 'ante', min: 1, required: true %>
    <br>
    <button type="submit">Submit Ante</button>
  <% end %>
<% else %>
  <p>Bet: <%= @game_player.bet %>, Points: <%= @game_player.points.join(", ") %></p>
<% end %>
<ul class="cards">
  <% @game_player.hand.each do |card| %>
    <li class="card"><%= card.rank %> of <%= card.suit %></li>
  <% end %>
</ul>
