<h1>Backgammon</h1>
<h2> <%= @game_player.game.title %> </h2>
<p>Cards on Deck: <%= @game_player.game.deck.cards.count %></p>
<br>
<p>Player: <%= @game_player.player.name %></p>
<br>
<% if @game_player.bet.to_i == 0 %>
  <%= form_with url: ante_path, method: :post do %>
    <label for="ante">Ante:</label>
    <%= number_field_tag :ante, nil, id: 'ante', min: 1, required: true %>
    <br>
    <button type="submit">Submit Ante</button>
  <% end %>
<% else %>
  <p>Bet: <%= @game_player.bet %></p>
  <br>
  <p>Hand</p>
  <ul>
    <% @game_player.hand.each do |card| %>
      <li><%= card.rank %> of <%= card.suit %></li>
    <% end %>
  </ul>
<% end %>
<br>
